mat-icon.favorite-icon {
  color: red;
  cursor: pointer;
  font-size: 24px;
  transition: color 0.3s ease;

  &.active {
    color: red !important; // Force red
  }

  &:hover {
    color: darkred;
  }
}
.card {
  padding: 1.5rem;
  text-align: center;

  img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    margin-bottom: 1rem;
  }

  h3 {
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }

  p {
    margin: 0.25rem 0;
    font-size: 0.95rem;
    color: #444;
  }
  .positive {
    color: #2e7d32; // green
    font-weight: 600;
  }

  .negative {
    color: #c62828; // red
    font-weight: 600;
  }
}
