<div class="card" (click)="goToDetails()">
  <img [src]="crypto.image" alt="{{ crypto.name }}" />
  <h3>{{ crypto.name }} ({{ crypto.symbol.toUpperCase() }})</h3>
  <p>Price: ${{ crypto.current_price | number : "1.2-2" }}</p>
  <p>Market Cap: ${{ crypto.market_cap | number }}</p>
  <p>
    24h Change:
    <span
      [ngClass]="{
        positive: crypto.price_change_percentage_24h >= 0,
        negative: crypto.price_change_percentage_24h < 0
      }"
    >
      {{ crypto.price_change_percentage_24h | number : "1.2-2" }}%
    </span>
  </p>
  <mat-icon
    class="favorite-icon"
    (click)="toggleFavorite($event)"
    [ngClass]="{ active: isFavorite }"
  >
    {{ crypto.isFavorite ? "favorite" : "favorite_border" }}
  </mat-icon>
</div>
