body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-image: url("/assets/images/landingpage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-family: "Roboto", sans-serif; // fallback light gray
}
